:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: Calibri;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

hr{
  width: 50%;
}

.detail{
  display: flex;

  justify-content: center;
  align-items: center;
}

#icon{
  padding-right: 1%;
  width: 30px;
  background-color: #f9f9f9;
}

#location , #date{
  font-size: 30px;
}

Form {
  background-color: #fff;
  border-radius: 8px;
  padding-top: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkboxContainer{
  display: flex;
  justify-content: space-evenly;
}

input,
textarea {
  width: 60%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
} 


#titleCard{
  color: white;
  position: absolute;
  font-size: 90px;
  z-index: 1;
}

.textOverlay {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.overlayText {
  color: white;
  font-size: 30px; /* Adjust the font size as needed */
  font-weight: bold;
  /* Add any additional styling you want for the text */
}

.landingText {
  padding: 20px;
}

.navContainer {
  display: flex;
  justify-content: space-around; /* Evenly distribute the Link elements */
  background-color: #333; /* Background color for the navbar */
  height: 40px;
}

.navLink {
  text-decoration: none;
  flex : 1;
  color: white; /* Default color for the links */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

  transition: color 0.3s; /* Add transition for smooth color change */

  &:hover {
      background-color: aliceblue;
      color: black; /* Change color on hover */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


.fade-in {
  animation: fade-in 2s;
}

.landingPhotoContainer{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPhoto {
  width: 100%;
  height: auto;
  
}

.darkOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

nav {
  background-color: aqua;
}



/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white; /* Adjust text color for dark mode */
    background-color: #121212; /* Adjust background color for dark mode */
  }

  form{
    color: black;
  }

  #icon{
    filter: invert(1);
    background: rgba(255, 255, 255, 0);
  }

  /* Adjust other styles for dark mode */
  body {
    background-color: #121212;
  }

  .navContainer {
    background-color: #222;
  }

  /* Add more styles as needed for dark mode */
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {

  #landing{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .landingText{
    font-size: 29px;
  }

  .landingTextContainer{
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .landingPhotoContainer{
    width: 60%;
  }


  #location{
    width: 100%;
  }

  #break{
    display: none;
  }

  form {
    max-width: 600px; /* Adjust this value based on your design preferences */
    margin: 0 auto;
  }
}